/* !-----------------------------------------------------------------------------------------------main content start */
/* !first section start */
section {
  width: 100%;
}
.section-one-box {
  height: 100vh;
}

#homepage-video {
  /* width: auto; */
  /* height: 100vh; */
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  z-index: -1;
  pointer-events: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content-box {
  /* margin-top: 80px; */
  /* top: 100; */
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  /* width: 100%; */
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  /* background: rgba(249, 9, 9, 0.5); */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* section {
  width: 100%;
}
p {
  width: 100%;
} */

.mainsection-content-box {
  display: flex;
  justify-content: flex-end;
}
.mainsection-content {
  width: 60%;
  /* margin-top: -10%; */
}
.mainsection-content-text {
  padding: 60px;
  /* background-color: white; */
  margin-bottom: 1%;
  text-align: start;
  line-height: 40px;
}

.mainsection-content-text h1 {
  font-size: 55px;
  font-weight: 400;
  margin: 0;
  width: 70%;
  line-height: 55px;
}
.mainsection-content-text p {
  font-size: 26px;
  margin: 0;
  margin-top: 20px;
}

.mainsection-content-search {
  width: 70%;
  border: 0;
  margin: 0;
  height: 50px;
  background-color: #e2e0da;
  outline: none;
  color: #000;
  /* margin-top: 1%; */
  font-size: 100%;
}

.mainsection-content-form {
  width: 70%;
  border: 0;
  margin: 0;
  padding: 0 7% 0 5%;
  height: 50px;
  background-color: #e2e0da;
  outline: none;
  color: #000;
  /* margin-top: 1%; */
  font-size: 100%;
  display: flex;
}
.mainsection-content-search {
  width: 120%;
}

.mainsection-content-form button {
  width: 37px;
  height: 100%;
  border: none;
  background-color: transparent;
}

.mainsection-options {
  width: 80%;
  /* background-color: white; */
  margin-top: 4%;
  display: flex;
  margin-bottom: -0.2%;
}
.mainsection-options-item {
  width: 25%;
  background-color: #231f209f;
  color: white;
  margin: 3px;
  padding: 25px;
  font-size: 26px;
  transition: 0.2s;
}
.mainsection-options-item:hover {
  background-color: #f1f2f29f;
  color: black;
  cursor: pointer;
}
.mainsection-options-item svg {
  fill: #231f20;
}

/* !first section end */

/* !form section end */

.main_home_page {
  color: #231f20;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  /* margin-top: 25%; */
}

.bi-arrow-right {
  margin-left: 8%;
}

.sub_head {
  font-size: 35px;
}

.sub_head_wrapper {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
