html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #7e7e7e;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 90vh;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

.swiper-vertical > .swiper-wrapper {
  align-items: flex-end;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #585858;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet {
  background: transparent;
  --swiper-theme-color: rgb(0, 0, 0);
  color: black;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 30px) 7px;
}
.swiper-pagination {
  width: 20%;
  height: 70vh;
  display: flex;
  flex-direction: column;
}
.swiper-pagination span {
  width: 100%;
  font-size: 20px;
  text-align: start;
}
.swiper-pagination span:nth-child(1)::before {
  content: "О нас";
  color: rgb(59, 59, 59);
}
.swiper-pagination span:nth-child(2)::before {
  content: "Философия бренда";
}
.swiper-pagination span:nth-child(3)::before {
  content: "Направление: инжинерия";
}
.swiper-pagination span:nth-child(4)::before {
  content: "Направление: логистика";
}
.swiper-pagination span:nth-child(5)::before {
  content: "Направление: Строительство";
}
.swiper-pagination span:nth-child(6)::before {
  content: "Направление: Металлопроизводство";
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: 77%;
}

/* NAVBAR */
a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

#about_video {
  width: 100%;
}

#about_video::before {
  content: "Scroll Down";
  position: absolute;
  left: 45%;
  color: black;
}
.swiper_slide {
  background-color: #f1f2f2;
}
